@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #17255a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5e2c8;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: var(--foreground);
  background: var(--background);
}

/* Wrapper for the age counter */
.age-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-container {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px; /* Adds space between the header and the counter */
}

/* Header text */
.header {
  color: #17255a;
  font-size: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Introduction text */
.intro {
  color: #17255a;
  font-size: 1.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

/* Age display section */
.age-display {
  display: flex;
  color: black;
  font-size: 2.25rem;
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
}

/* Year text is red */
.years {
  font-weight: bold;
  color: #9f3b30;
}

/* Month text is blue */
.months {
  font-weight: bold;
  color: #17255a;
}

/* Button styling */
.age-btn {
  color: #9f3b30;
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f5e2c8;
  border: 2px solid #9f3b30;
  /* background: linear-gradient(90deg, #9383c5, #56e3fa); */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.age-btn:hover {
  background-color: #9f3b30;
  color: #f5e2c8;
}
.age-btn:active {
  background-color: #CC9890;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rl-btn {
  color: #f5e2c8;
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #9f3b30;
  border: 2px solid #9f3b30;
  /* background: linear-gradient(90deg, #9383c5, #56e3fa); */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rl-btn:hover {
  background-color: #f5e2c8;
  color: #9f3b30;
}
.rl-btn:active {
  background-color: #CC9890;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.reload-div {
  display: flex;
  justify-content: center;
  margin-top: 10px;}

/*Footer for credits */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  color: #CC9890;
  border-color: 0.1px solid #141212;
}
.currancy-logo {
  position: fixed;
  top: 100px;
  right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #17255a;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
}

.currency-text {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Codey Avatar*/
.codey-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.codey {
  width: 900px;
  height: 400px;
  object-fit: contain;
}
/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  text-align: center;
}

/* Event message */
.event-message {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: #17255a;
}

/* Modal buttons */
.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.modal-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.modal-btn.yes {
  background-color: #89A8CD;
  color: white;
  margin: 5px;
}

.modal-btn.no {
  background-color: #9f3b30;
  color: white;
  margin: 5px;

}

.modal-btn.close {
  background-color: #2196f3;
  color: white;
}
.modal-btn:hover {
  opacity: 0.9;
}
/* Game over */
.game-over-message {
  color: #9f3b30;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.game-over-jail {
  color: #17255a;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
