@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #17255a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5e2c8;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: var(--foreground);
  background: var(--background);
}

/* Wrapper for the age counter */
.age-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-container {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px; /* Adds space between the header and the counter */
}

/* Header text */
.header {
  color: #17255a;
  font-size: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Introduction text */
.intro {
  color: #17255a;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 600px;
  font-family: Arial, Helvetica, sans-serif
}

/* Age display section */
.age-display {
  display: flex;
  color: black;
  font-size: 2.25rem;
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
}

/* Year text is red */
.years {
  font-weight: bold;
  color: #9f3b30;
}

/* Month text is blue */
.months {
  font-weight: bold;
  color: #17255a;
}

/* Button styling */
.age-btn {
  color: white;
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(90deg, #9383c5, #56e3fa);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 70px; /*centering the button under the counter*/
}

.age-btn:hover {
  background-color: #9f3b30;
}
.age-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Footer for credits */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 0px;
  color: #9f3b30;
  border-color: 0.1px solid #141212;
}
.currancy-logo {
  position: fixed;
  top: 100px;
  right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #17255a;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
}

.currency-text {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
